<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://azurefunctionnet8test20241122133502.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/ccee2fed-d301-4e9d-8f06-04299c689773/resourcegroups/davydva-d-rg/providers/Microsoft.Web/sites/AzureFunctionNet8Test20241122133502</ResourceId>
    <UserName>$AzureFunctionNet8Test20241122133502</UserName>
    <_SavePWD>true</_SavePWD>
    <RuntimeIdentifier>win-x64</RuntimeIdentifier>
    <PublishUrl>https://azurefunctionnet8test20241122133502.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>